body {
    padding: 0;
    margin: 0;
    background: #16161d;
}

.App {
    text-align: center;
}

.headerDiv {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.headerDiv h1 {
    font-size: 3rem;
    color: #009578;
    letter-spacing: 2px;
}

.filter {
    padding: 8px;
    width: 20rem;
    height: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border 0.5s;
    border: 2px solid transparent;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
}

.filter:focus {
    border: 2px solid #009578;
}

.searchBar button {
    height: 2.35rem;
    width: 40px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #009578;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.searchBar button:hover,
.searchBar button:focus {
    border: 2px #009578 solid;
    background-color: transparent;
    color: #009578;
}

div.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userHolder {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:1300px) {
    .userHolder {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1000px) {
    .userHolder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .searchBar {
        width: 300px;
        margin: 5px auto;
    }
    .userHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.userDiv {
    background-color: #009578;
    color: #fff;
    /* transition: background-color 0.3s; */
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 250px;
    box-shadow: 5px 5px 10px #000000;
    cursor: pointer;
    text-align: center;
}

.scroll button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border: 2px solid transparent;
    background-color: #009578;
    color: #ffffff;
    border-radius: 100%;
    margin: 0 0.5em;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: .3s linear;
}

.scroll button:hover {
    border: 2px #009578 solid;
    background-color: transparent;
    color: #009578;
}